[submodule "submodules/tabby"]
	path = submodules/tabby
	url = https://github.com/robertpelloni/tabby
[submodule "submodules/warp"]
	path = submodules/warp
	url = https://github.com/robertpelloni/warp
[submodule "submodules/pi-mono"]
	path = submodules/pi-mono
	url = https://github.com/robertpelloni/pi-mono
[submodule "submodules/hermes-agent"]
	path = submodules/hermes-agent
	url = https://github.com/robertpelloni/hermes-agent
